body {
  font-family: monospace;
  margin: 0;
  background: #1A1A1A;
  color: white;
}

#zero {
  /*background-image: url("Media/smoke-background-large.png");*/
  background: #1A1A1A;
  background-image: url("Media/trianglify.svg");
  background-image: linear-gradient(to bottom, #00000000, #1A1A1AFF), url("Media/trianglify.svg");
  background-size: cover;
  height: 100vh;
  /*border-bottom: gray solid 0.01rem;*/
  z-index: 10;
}

#zero .title {
  text-align: center;
  font-size: 3rem;
}

/*                                MODULE                  */

.module a {
  color: #7070FF;
}
.module a:visited{
  color: #9933CC;
}


/*                                FOOTER                    */

footer {
  width: 100%;
  background-color: #CD4B0E;
  /* background-color: rgba(244, 111, 48, 0.9); */
  /* eller rgb(188, 188, 188); */
  text-align: center;
  box-sizing: border-box;
}

.footer-flex a {
  color: #000000;
}
.footer-flex a:visited {

}

.footer-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-logo {
  width: 6rem;
  height: auto;
}

.footer-logo-text a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.contribute {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.contribute span {
  margin: auto 1rem auto auto;
}

.references {
  margin-top: 1rem;
}




