body {
  font-family: monospace;
  margin: 0;
  background: #1A1A1A;
  color: white;
}

#zero {
  /*background-image: url("Media/smoke-background-large.png");*/
  background: #1A1A1A;
  background-image: url("Media/trianglify.svg");
  background-image: linear-gradient(to bottom, #00000000, #1A1A1AFF), url("Media/trianglify.svg");
  background-size: cover;
  /*border-bottom: gray solid 0.01rem;*/
  z-index: 10;
}

#zero .title {
  text-align: center;
  font-size: 3rem;
}

/*    FOOTER    */

footer {
  width: 100%;
  background-color: rgba(244, 111, 48, 0.9);
  /* eller rgb(188, 188, 188); */
  text-align: center;
  box-sizing: border-box;
}

.footer-logo-box {
  height: 8rem;
  font-size: 0.9rem;
}

.footer-logo {
  width: 6rem;
  height: auto;
}

.footer-logo-text a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
