.drop-down-menu{
    width: 3rem;
    float: right;
    right:8rem;
    display: inline-block;
    margin: 2rem;
}
.roundBorder img{
    border:solid black 0.05rem;
    border-radius: 100%;
}
.drop-down-menu h5{
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:0;
    height:70vh;
    background-color: rgba(244, 111, 48,0.95); /* eller rgba(188, 188, 188, 0.95); */
    width:100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content img{
    width: 2rem;
    float:right;
    margin-right: 2rem;
    border-radius:100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 5vh;
    text-align: center;
}

#close:hover {
    background-color: rgba(255,255,255,0.7);
    border:solid 0.2rem rgba(255,255,255,0.2) ;
}
.dropdown-content a:hover {background-color: rgba(255,255,255,0.7); /*#ddd;*/}
.drop-down-menu:hover .dropdown-content {display: block;}

.navbar{
    display:none;
}