body {
  margin: 0;
}

#module-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  position: absolute;
  top: 5vh;
  left: 50%;
  margin-left: -36px;
  cursor: pointer;
  font-size: 400%;
}

.prev:after {
  content: '▲';
}

.tooltip {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: gray;
}

.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -36px;
  cursor: pointer;
  font-size: 400%;
}

.next:after {
  content: '▼';
}

.module {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2rem;
  font-family: sans-serif;
  box-sizing: border-box;
}

.next:hover, .prev:hover {
  transform: scale(1.2);
}

.module-left {}

.module-right {}

.module-img {
  max-width: 100%;
  height: auto;
}

footer {
  height: 20rem;
  padding: 3rem;
}


.footer-grid {
  display: inline-grid;
  grid-column-gap: 2rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1rem;
  align-items: center;
}

.footer-left-col {
  display: flex;
  justify-content: flex-end;
}

.footer-mid-col {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.footer-right-col {
  display: flex;
  justify-content: flex-start;
}

.footer-logo-text {
  font-size: 1.2rem;
  height: 1.2rem;
}
